[package]
name = "rb-cli"
version.workspace = true
edition.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
client-core = { path = "../client-core" }
rpassword.workspace = true
server-core = { path = "../server-core" }
ssh-core = { path = "../ssh-core" }
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
whoami.workspace = true
